.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-height: 100vh; /* Set your desired maximum height */
  /* overflow: auto; */
}

.container .card {
  flex: 0 0 calc(33.333% - 1rem); /* Adjust the percentage as needed */
  margin-bottom: 1rem;
}
